* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #eee;
}

.canteiro {
  width: 600px;
  height: 600px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

}

.canteiro div {
  background-color: #fff;
  border: 1px solid #783905;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  background-color: #975723;
  color: #fff;
  text-align: center;
  width: 500px;
  height: 80px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 30px 5px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  transition: all 0.3s ease-in-out;
}

footer div:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

footer img {
  height: 30px;
  width: 30px;
  object-fit: cover;
}